[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "beeswarm"]
	path = beeswarm
	url = https://github.com/aroneklund/beeswarm
[submodule "squash"]
	path = squash
	url = https://github.com/aroneklund/squash
